.events .rt-thead.-header {
  box-shadow: none;
}

.events .ReactTable .rt-thead .rt-td.-sort-desc,
.ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: none;
}

.events .ReactTable {
  height: 100vh;
}
